.boards__title {
  margin-top: 40px;
  margin-bottom: 40px;
}

.boards__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn__add-board {
  width: 220px;
  height: 100px;
  border: 3px solid var(--color_border);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: 0.5s;
}

.btn__add-board:hover {
  background-color: #60658687;
  transition: 0.5s;
}

.boards__form-create-board{
    background-color: rgba(240, 248, 255, 0.244);
    width: 260px;
    height: 180px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.btn__close-creating-board {
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 4px;
}

.boards__form-create-list--title {
    font-size: large;
    font-weight: bold;
}

.boards__choose-color-for-board{
    display: flex;
    padding-left: 10px;
}

.boards__choose-color-for-board--label{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.boards__choose-color-for-board--variants{
    width: 20px;
    margin-right: 5px;
}

.boards__choose-color-for-board--variant{
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

.btn__create-board {
    background-color: var(--color_creating);
    border-radius: 30px;
}